.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiInputBase-formControl {
  min-width: 200px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiSnackbarContent-message {
  width: 260px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-group-visible {
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}
.table-group-invis {
  transition: opacity ease-in-out 0.3s;
  opacity: 0;
}
.MuiFormControl-marginDense {
  margin-top: 0 !important;
}
.profile-table {
  margin: 0 auto;
}
.profile-table tr {
  vertical-align: top;
}
.profile-table tr td {
  padding: 0 10px 10px;
}
.profile-table td.label {
  padding-top: 8px
}
.profile-table tr td:first-child {
  max-width: 200px;
  text-align: right;
}
.profile-table tr td:last-child {
  min-width: 300px;
  text-align: left;
}
